@import "~sass/settings/index";

.container {
	width: 55%;
	position: fixed;
	top: 0;
	left: -100%;
	background: #fff;
	box-shadow: 1px 2px 8px #eee;
	height: 100%;

	&.open {
		transition: left .4s ease-in;
		left: 0;
	}
}

.descriptionText {
	text-transform: uppercase;
}

.imageContainer {
	text-align: center;
	margin: 0 auto;
	background-image: linear-gradient(90deg, #f0f0f0, #eee);
	min-height: 150px;
}

.anchor {
	display: block;
	margin-top: 10px;
}

.closeButton {
	position: absolute;
	z-index: 9;
	right: 10px;
	top: 10px;
	background: rgba(255,255,255,.3);
	border-radius: 50%;

	svg path {
		fill: #333;
	}
}

.descContainer {
	padding: 20px;
	font-weight: $semi-bold;
}

.content {
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
}

.characterName {
	text-align: center;
	margin-top: 5px;
}